<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Морской бой</title>
    <link rel="stylesheet" href="assets/app.css">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<body>
    <div class="container">
        <div class="content">
            <div class="title">
                <div class="logo"></div>
                <div class="name">Морской бой</div>
            </div>
            <div id="header" class="header"></div>
            <div class="battle">
                <div id="myArea" class="battle-area"></div>
                <div class="divider"></div>
                <div id="opponentArea" class="battle-area"></div>
            </div>
            <div class="description">

            </div>
            <div class="overlay">
                <div class="overlayText">
                    <b>Вы победили!</b>
                    <br/><br/>
                    С победой мы Вас от души поздравляем! <br />
                    И новых свершений в дальнейшем желаем! <br />
                    Чтоб страсть побеждать никогда не терялась! <br />
                    Чтоб все и всегда у Вас получалось! <br />
                </div>
            </div>
        </div>
    </div>
    <script src="assets/app.js"></script>
</body>

</html>