html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #454545;
  margin: 0;
  padding: 0;
  height: 100%;
}

@import "_header";
@import "_battle";
@import "_descriptions";
